Syntax: regex
CMakeFiles/*
*/CMakeFiles
*/CMakeFiles/*
CMakeCache.txt
*.so
*.a
/Makefile
Makefile
*.cmake
*.swp
*.bak
*.pyc
*.i
*.shell_history
*.nfs0000*
*/foo
*.out
*/*.out
*/*/*.out
*/*/*/*.out
testcode/filetest
testcode/mainlooptest
testcode/pinger
testcode/gtest[0-9][0-9]
doxygen/*
cma/cma
cma/assimcli
Doxyfile
*.pyc
*.swp
*.swo
include/framesettypes.h
include/frametypes.h
include/projectcommon.h
nanoprobe/nanoprobe
install_manifest.txt
discovery_agents/*.txt
_CPack_Packages/*
*.deb
*.rpm
install_manifest_*-component.txt
buildtools/debian/postinst
buildtools/debian/postrm
cma/AssimCtypes.py
cma/AssimCtypes.py-install
cma/violations.sqlite
docfiles/html
cma/systemtests/*
docker/CentOS6/Dockerfile
docker/CentOS/centos*
docker/installertest/Dockerfile
docker/installertest/installme
docker/Debian/jessie
docker/Debian/sid
docker/Debian/wheezy
docker/Fedora/2[0-9]
docker/Ubuntu/lucid
docker/Ubuntu/precise
docker/Ubuntu/trusty
docker/Ubuntu/utopic
docker/Ubuntu/vivid
