Syntax: regex
CMakeFiles/*
*/CMakeFiles
*/CMakeFiles/*
CMakeCache.txt
*.so
*.a
*foo
*bar
*foobar
*baz
*/venv
*/core
/Makefile
Makefile
*.cmake
*.swp
*.bak
*.pyc
*.diff
*.i
*.shell_history
*.mypy_cache
*.idea
*.pytest_cache
*.nfs0000*
*.tox
*/foo
*.out
*/*.out
*/*/*.out
*/*/*/*.out
testcode/filetest
testcode/mainlooptest
testcode/pinger
testcode/gtest[0-9][0-9]
doxygen/*
cma/cma
cma/assimcli
Doxyfile
*.pyc
*.swp
*.swo
include/framesettypes.h
include/frametypes.h
include/projectcommon.h
nanoprobe/nanoprobe
install_manifest.txt
discovery_agents/*.txt
_CPack_Packages/*
*.deb
*.rpm
install_manifest_*-component.txt
buildtools/debian/postinst
buildtools/debian/postrm
cma/AssimCtypes.py
cma/AssimCtypes.py-install
cma/violations.sqlite
docfiles/html
cma/systemtests/*
docker/old
docker/rel2/*/src
docker/rel2/nanoprobe/Dockerfile
