certifi==2023.7.22
chardet==3.0.4
Click==7.0
colorama==0.4.3
ctypesgen==1.0.2
DateTime==4.3
docker==4.2.2
dpath==2.0.1
flask>=2.2.5
Inject==4.2.0
itsdangerous==1.1.0
Jinja2==3.1.3
MarkupSafe==1.1.1
neobolt==1.7.17
neotime==1.7.4
netaddr==0.8.0
prompt-toolkit==2.0.10
py2neo==4.3.0
Pygments==2.15.0
pytz==2020.1
requests==2.31.0
six==1.15.0
urllib3==1.26.18
uuid==1.30
version-utils==0.3.0
wcwidth==0.2.5
websocket-client==0.57.0
Werkzeug==3.0.1
zope.interface==5.1.0
