# This is the original work of Jamie Nguyen.
#
# To the extent possible under law, Jamie Nguyen has waived all copyright
# and related or neighboring rights to this work.
#
# This work is published from: United Kingdom.
#
# See https://creativecommons.org/publicdomain/zero/1.0/legalcode.txt

[Unit]
Description = Collective Management Authority (CMA) for Assimilation
After = network.target neo4j.service
Requires = neo4j.service

[Service]
Type = simple
ExecStart = /usr/sbin/cma -f -p /run/assimilation/cma.pid
ExecStop = /usr/sbin/cma -p /run/assimilation/cma.pid -k
User = assimilation
Group = assimilation
PrivateTmp = true

[Install]
WantedBy = multi-user.target
