# This is the original work of Jamie Nguyen.
#
# To the extent possible under law, Jamie Nguyen has waived all copyright
# and related or neighboring rights to this work.
#
# This work is published from: United Kingdom.
#
# See https://creativecommons.org/publicdomain/zero/1.0/legalcode.txt

[Unit]
Description = Nanoprobe distributed monitoring/management agent for Assimilation
After = network.target assimilation.service

[Service]
Type = simple
ExecStart = /usr/sbin/nanoprobe -f -p /run/nanoprobe/nanoprobe.pid
ExecStop = /usr/sbin/nanoprobe -p /run/nanoprobe/nanoprobe.pid -k
PrivateTmp = true

[Install]
WantedBy = multi-user.target
